<div>
	<div class='row'>
		<div class='col-sm-3' ng-controller='treeCtrl as tree'>
					<ul class="list-group">
						<li class='list-group-item'><a href='#/edit'>Back</a></li>
						<li class='list-group-item' ng-repeat='item in tree.items' ng-if='item.category._id == tree.catId'><a href='' ng-click='tree.addToForm(item._id)'>{{item.name}}</a><button class='close pull-right' data-toggle="modal" data-target="#areSure" ng-click="tree.set(item)">&times;</button></li>
					</ul>
                    <div class="modal fade" tabindex="-1" role="dialog" id="areSure">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Are you sure?</h4>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete {{tree.delName}}?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="tree.removeItem()">Yes</button>
                                </div>
                            </div>
                        </div>
                    </div>
		</div>
		<div class='col-sm-9' ng-controller='formCtrl as form'>
			<ng-include src="'tmpl/addEditForm.html'" onload="form.whichForm('edit')"></ng-include>
		</div>
	</div>
</div>